default_install_hook_types:
- commit-msg
- pre-commit
- pre-push
- prepare-commit-msg
default_stages:
- pre-commit
- pre-push
- pre-merge-commit
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args:
    - --maxkb=1000
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
    args:
    - --allow-multiple-documents
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.4
  hooks:
  - id: ruff
    args:
    - --fix
  - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.29.0
  hooks:
    - id: gitleaks
      stages:
        - pre-push
- repo: local
  hooks:
    - id: commitizen
      name: Run commitizen check on commit message
      stages:
        - commit-msg
      language: system
      types: [python]
      entry: poetry run cz check --commit-msg-file
